In [6]:
import os
import numpy as np
import pandas as pd

In [1]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(
         'covid19-protestdata-07d0d4a06185.json', scope) # Your json file here

gc = gspread.authorize(credentials)

In [8]:
wks = gc.open("NYC subway data").sheet1

data = wks.get_all_values()
headers = data.pop(0)

df = pd.DataFrame(data, columns=headers)
print(df.head())

In [2]:
gc.open("Crowd Estimates May 2020")

APIError: {'errors': [{'domain': 'usageLimits', 'reason': 'accessNotConfigured', 'message': 'Project 539525720410 is not found and cannot be used for API calls. If it is recently created, enable Drive API by visiting https://console.developers.google.com/apis/api/drive.googleapis.com/overview?project=539525720410 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.', 'extendedHelp': 'https://console.developers.google.com/apis/api/drive.googleapis.com/overview?project=539525720410'}], 'code': 403, 'message': 'Project 539525720410 is not found and cannot be used for API calls. If it is recently created, enable Drive API by visiting https://console.developers.google.com/apis/api/drive.googleapis.com/overview?project=539525720410 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.'}

In [3]:
from __future__ import print_function
from apiclient.discovery import build
from httplib2 import Http
from oauth2client import file, client, tools

In [8]:
SPREADSHEET_ID = '1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg'
RANGE_NAME = 'Tally'

In [4]:
def get_google_sheet(spreadsheet_id, range_name):
    """ Retrieve sheet data using OAuth credentials and Google Python API. """
    scopes = 'https://www.googleapis.com/auth/spreadsheets.readonly'
    # Setup the Sheets API
    store = file.Storage('credentials.json')
    creds = store.get()
    if not creds or creds.invalid:
        flow = client.flow_from_clientsecrets('client_secret.json', scopes)
        creds = tools.run_flow(flow, store)
    service = build('sheets', 'v4', http=creds.authorize(Http()))

    # Call the Sheets API
    gsheet = service.spreadsheets().values().get(spreadsheetId=spreadsheet_id, range=range_name).execute()
    return gsheet


def gsheet2df(gsheet):
    """ Converts Google sheet data to a Pandas DataFrame.
    Note: This script assumes that your data contains a header file on the first row!
    Also note that the Google API returns 'none' from empty cells - in order for the code
    below to work, you'll need to make sure your sheet doesn't contain empty cells,
    or update the code to account for such instances.
    """
    header = gsheet.get('values', [])[0]   # Assumes first line is header!
    values = gsheet.get('values', [])[1:]  # Everything else is data.
    if not values:
        print('No data found.')
    else:
        all_data = []
        for col_id, col_name in enumerate(header):
            column_data = []
            for row in values:
                column_data.append(row[col_id])
            ds = pd.Series(data=column_data, name=col_name)
            all_data.append(ds)
        df = pd.concat(all_data, axis=1)
    return df

In [9]:
gsheet = get_google_sheet(SPREADSHEET_ID, RANGE_NAME)

KeyError: '_module'

In [ ]:
df = gsheet2df(gsheet)
print('Dataframe size = ', df.shape)
print(df.head())

In [ ]:
1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/edit#gid=1538635238

In [16]:
tally_url = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=0'
gf_url = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=1571725208'

In [36]:
tally_df = pd.read_csv(new_google_sheet_url)
gf_df = pd.read_csv(gf_url)

In [37]:
gf_df.tail(10)

,F,Location,County,StateTerritory,Country,Date,EstimateText,EstimateLow,BestGuess,EstimateHigh,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
785,NOTE: DO NOT ENTER JUNE DATES HERE; tally cont...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,Albuqeurque,route 66 to downtown,NaN,NM,US,2020-05-31,hundreds,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,tally continues on June spreadsheet: https://d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
gf_df[~(gf_df['County'].isna() | gf_df['StateTerritory'].isna())]

,F,Location,County,StateTerritory,Country,Date,EstimateText,EstimateLow,BestGuess,EstimateHigh,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Tulsa,Interstate 44,Tulsa,OK,US,2020-05-25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hammond,Hammond Police Department,Lake,IN,US,2020-05-26,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Houston,Discovery Green,Harris,TX,US,2020-05-26,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Los Angeles,Downtown,Los Angeles,CA,US,2020-05-26,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Minneapolis,site of Floyd's arrest; Minneapolis Police Dep...,Hennepin,MN,US,2020-05-26,several thousand,2000.0,NaN,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,Wilmington,Downtown,New Hanover,NC,US,2020-05-31,hundreds,200.0,NaN,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,Winfield,NaN,Cowley,KS,US,2020-05-31,around 25,25.0,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,Wooster,northeast corner of the square,Wayne,OH,US,2020-05-31,more than 100,100.0,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,Yonkers,Yonkers City Hall,Westchester,NY,US,2020-05-31,around 1000,1000.0,NaN,1000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,Youngstown,toward the Mahoning County Court House,Mahoning,OH,US,2020-05-31,500 people followed by another 150 vehicles,650.0,NaN,650.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
tally_df[~(tally_df['County'].isna() | tally_df['StateTerritory'].isna())]

,CityTown,Location,County,StateTerritory,Country,Date,EstimateText,EstimateLow,BestGuess,EstimateHigh,...,ReportedArrests,ReportedParticipantInjuries,ReportedPoliceInjuries,ReportedPropertyDamage,TownsCities,Events,Source1,Source2,Source3,Misc.
0,Albany,State Capitol,Albany,NY,US,2020-05-01,NaN,100.0,NaN,100.0,...,0.0,0.0,0.0,0.0,1,1,https://www.amny.com/manhattan/cops-chase-away...,https://www.timesunion.com/news/article/Outsid...,NaN,NaN
1,Alhambra,Alhambra Hospital Medical Center,Los Angeles,CA,US,2020-05-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,https://www.nationalnursesunited.org/may-day-e...,NaN,NaN,NaN
2,Anaheim,"Anaheim Global Medical Center, Inc",Orange,CA,US,2020-05-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,https://www.nationalnursesunited.org/may-day-e...,NaN,NaN,NaN
3,Anaheim,West Anaheim Medical Center,Orange,CA,US,2020-05-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,https://www.nationalnursesunited.org/may-day-e...,NaN,NaN,NaN
4,Ann Arbor,Whole Foods to USPS office,Washtenaw,MI,US,2020-05-01,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1,1,https://www.mlive.com/news/ann-arbor/2020/05/a...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,New London,NaN,New London,CT,US,2020-05-30,more than 200,200.0,NaN,200.0,...,0.0,0.0,0.0,0.0,1,1,https://www.theday.com/article/20200530/NWS01/...,NaN,NaN,NaN
681,Prescott Valley,Prescott Valley Police Department,Yavapai,AZ,US,2020-05-30,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1,1,https://www.dcourier.com/news/2020/may/31/geor...,NaN,NaN,NaN
682,Santa Maria,NaN,Santa Barbara,CA,US,2020-05-30,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1,1,https://keyt.com/news/santa-maria-north-county...,NaN,NaN,NaN
683,San Antonio,San Antonio Housing Authority,Bexar,TX,US,2020-05-30,about 40,40.0,NaN,40.0,...,0.0,0.0,0.0,0.0,1,1,https://www.expressnews.com/news/local/article...,NaN,NaN,NaN
684,Hattiesburg,entrance to the University of Southern Mississ...,Forrest,MS,US,2020-05-31,about 30,30.0,NaN,30.0,...,0.0,0.0,0.0,0.0,0,1,https://www.clarionledger.com/story/news/local...,NaN,NaN,weekly on Sunday

In [49]:
type(tally_df["Date"][0])

str