In [1]:

import numpy as np
import pandas as pd

In [2]:
# May data url
tally_may = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=0'
gf_may = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=1571725208'

In [91]:
# read May raw .csv
tally_may_df = pd.read_csv(tally_may)
gf_may_df = pd.read_csv(gf_may)

In [92]:
# remove entires with no county/state info
gf_may_df = gf_may_df[~(gf_may_df['County'].isna() | gf_may_df['StateTerritory'].isna())]
tally_may_df = tally_may_df[~(tally_may_df['County'].isna() | tally_may_df['StateTerritory'].isna())]

In [93]:
# select useful columns
tally_may_df = tally_may_df[['County', 'StateTerritory', 'Country', 'Date', 'EstimateLow', 'EstimateHigh']]
gf_may_df = gf_may_df[['County', 'StateTerritory', 'Country', 'Date', 'EstimateLow', 'EstimateHigh']]

In [94]:
tally_may_df['EstimateLow'] = tally_may_df['EstimateLow'].apply(lambda x: 0 if np.isnan(x) else x)
tally_may_df['EstimateHigh'] = tally_may_df['EstimateHigh'].apply(lambda x: 0 if np.isnan(x) else x)

In [95]:
tally_may_df

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh
0,Albany,NY,US,2020-05-01,100.0,100.0
1,Los Angeles,CA,US,2020-05-01,0.0,0.0
2,Orange,CA,US,2020-05-01,0.0,0.0
3,Orange,CA,US,2020-05-01,0.0,0.0
4,Washtenaw,MI,US,2020-05-01,0.0,0.0
...,...,...,...,...,...,...
680,New London,CT,US,2020-05-30,200.0,200.0
681,Yavapai,AZ,US,2020-05-30,0.0,0.0
682,Santa Barbara,CA,US,2020-05-30,0.0,0.0
683,Bexar,TX,US,2020-05-30,40.0,40.0
684,Forrest,MS,US,2020-05-31,30.0,30.0

In [66]:
tally_may_df['Estimated_Crowd'] = (tally_may_df['EstimateLow'] + tally_may_df['EstimateHigh']) / 2

In [96]:
tally_may_df

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh
0,Albany,NY,US,2020-05-01,100.0,100.0
1,Los Angeles,CA,US,2020-05-01,0.0,0.0
2,Orange,CA,US,2020-05-01,0.0,0.0
3,Orange,CA,US,2020-05-01,0.0,0.0
4,Washtenaw,MI,US,2020-05-01,0.0,0.0
...,...,...,...,...,...,...
680,New London,CT,US,2020-05-30,200.0,200.0
681,Yavapai,AZ,US,2020-05-30,0.0,0.0
682,Santa Barbara,CA,US,2020-05-30,0.0,0.0
683,Bexar,TX,US,2020-05-30,40.0,40.0
684,Forrest,MS,US,2020-05-31,30.0,30.0

In [100]:
def findCrowd(x, y):
    if x != 0 and y != 0:
        return np.int((x+y)/2)
    else:
        return np.int(x+y)

In [101]:
tally_may_df['Estimate_Crowd'] = tally_may_df.apply(lambda x: findCrowd(x['EstimateLow'], x['EstimateHigh']), axis=1)

In [102]:
tally_may_df

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh,Estimate_Crowd
0,Albany,NY,US,2020-05-01,100.0,100.0,100
1,Los Angeles,CA,US,2020-05-01,0.0,0.0,0
2,Orange,CA,US,2020-05-01,0.0,0.0,0
3,Orange,CA,US,2020-05-01,0.0,0.0,0
4,Washtenaw,MI,US,2020-05-01,0.0,0.0,0
...,...,...,...,...,...,...,...
680,New London,CT,US,2020-05-30,200.0,200.0,200
681,Yavapai,AZ,US,2020-05-30,0.0,0.0,0
682,Santa Barbara,CA,US,2020-05-30,0.0,0.0,0
683,Bexar,TX,US,2020-05-30,40.0,40.0,40
684,Forrest,MS,US,2020-05-31,30.0,30.0,30

In [130]:
tally_may_df.groupby(['Date', 'StateTerritory', 'County'])[['County', 'Estimate_Crowd']].agg({ 
                                                                          'Estimate_Crowd':'sum',
                                                                          'County':'count'})

                                      Estimate_Crowd  County
Date       StateTerritory County
2020-05-01 AR             Pulaski                  3       1
           AZ             Pima                    24       3
                          Pinal                  200       1
           CA             Alameda                  0       8
                          Butte                    0       1
...                                              ...     ...
2020-05-30 RI             Providence              50       1
           TX             Bexar                   40       1
           UT             Davis                    0       1
                          Tooele                2000       1
2020-05-31 MS             Forrest                 30       1

[539 rows x 2 columns]

In [108]:
tally_may_df[tally_may_df['County']=='Alameda']

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh,Estimate_Crowd
14,Alameda,CA,US,2020-05-01,0.0,0.0,0
24,Alameda,CA,US,2020-05-01,0.0,0.0,0
58,Alameda,CA,US,2020-05-01,0.0,0.0,0
67,Alameda,CA,US,2020-05-01,0.0,0.0,0
128,Alameda,CA,US,2020-05-01,0.0,0.0,0
129,Alameda,CA,US,2020-05-01,0.0,0.0,0
130,Alameda,CA,US,2020-05-01,0.0,0.0,0
131,Alameda,CA,US,2020-05-01,0.0,0.0,0
387,Alameda,CA,US,2020-05-11,28.0,28.0,28
467,Alameda,CA,US,2020-05-16,5.0,5.0,5
473,Alameda,CA,US,2020-05-16,24.0,24.0,24

In [131]:
# load

# get useful columns

# merge Tally and GF protests, by vertical stacking maybe

# find Estimate_Crowd, Num_Protests

# create data frame for all counties with all dates, merge with protest by county FIPS

# a time-series like data frame of all counties, all dates, whether there are protests and crowd estimates