In [11]:

import numpy as np
import pandas as pd

In [7]:
# data url
tally_may_url = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/edit#gid=0'
blm_may_url = 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/edit#gid=1571725208'

tally_june_url = 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/edit#gid=147985158'
blm_june_url = 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/edit#gid=0'
juneteenth_url = 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/edit#gid=197908470'

raw_urls = [tally_may_url, blm_may_url, tally_june_url, blm_june_url, juneteenth_url]

In [8]:
read_ready_urls = [url.replace('edit#gid', 'export?format=csv&gid') for url in raw_urls]

In [9]:
read_ready_urls

['https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=0',
 'https://docs.google.com/spreadsheets/d/1pZo5p9EKZJ87IvPVjIp50nQQPET_ucV8vKVfZ6NpOvg/export?format=csv&gid=1571725208',
 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/export?format=csv&gid=147985158',
 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/export?format=csv&gid=0',
 'https://docs.google.com/spreadsheets/d/1-HM-bFsnTd9omYOrB8JOMeQ0XzPvCaVaADKqXQ_RpXg/export?format=csv&gid=197908470']

In [29]:
pd.read_csv(read_ready_urls[0]).columns.values.tolist()

['CityTown',
 'Location',
 'County',
 'StateTerritory',
 'Country',
 'Date',
 'EstimateText',
 'EstimateLow',
 'BestGuess',
 'EstimateHigh',
 'AdjustedLow',
 'AdjustedHigh',
 'Actor',
 'Claim',
 'Pro(2)/Anti(1)',
 'EventType',
 'ReportedArrests',
 'ReportedParticipantInjuries',
 'ReportedPoliceInjuries',
 'ReportedPropertyDamage',
 'TownsCities',
 'Events',
 'Source1',
 'Source2',
 'Source3',
 'Misc.']

In [21]:
big = [1,2,3,4,5]
small = [1,2,3]

all(e in big for e in small)

True

In [30]:
# columns to be selected
useful_columns = ['County', 'StateTerritory', 'Country', 'Date', 'EstimateLow', 'EstimateHigh']

# data frame for storing
total_df = pd.DataFrame(columns=useful_columns)

In [45]:
# read in raw .csv's

dfs = []
for url in read_ready_urls:
    temp = pd.read_csv(url)
    col_names = temp.columns.values.tolist()
    # check if columns names match
    if all(ele in col_names for ele in useful_columns):
        # extract useful columns
        dfs.append(temp[useful_columns])
        
    else:
        print('error')
        break

In [46]:
len(dfs) == len(read_ready_urls)

True

In [48]:
pd.concat(dfs)

          County StateTerritory Country        Date EstimateLow EstimateHigh
0         Albany             NY      US  2020-05-01         100          100
1    Los Angeles             CA      US  2020-05-01         NaN          NaN
2         Orange             CA      US  2020-05-01         NaN          NaN
3         Orange             CA      US  2020-05-01         NaN          NaN
4      Washtenaw             MI      US  2020-05-01         NaN          NaN
..           ...            ...     ...         ...         ...          ...
247          NaN             WI      US  2020-06-19         NaN          NaN
248          NaN             MA      US  2020-06-19         NaN          NaN
249          NaN             NH      US  2020-06-19         NaN          NaN
250          NaN             NY      US  2020-06-19         NaN          NaN
251          NaN             RI      US  2020-06-19         NaN          NaN

[4169 rows x 6 columns]

In [4]:
# remove entires with no county/state info
gf_may_df = gf_may_df[~(gf_may_df['County'].isna() | gf_may_df['StateTerritory'].isna())]
tally_may_df = tally_may_df[~(tally_may_df['County'].isna() | tally_may_df['StateTerritory'].isna())]

In [5]:
# select useful columns
tally_may_df = tally_may_df[['County', 'StateTerritory', 'Country', 'Date', 'EstimateLow', 'EstimateHigh']]
gf_may_df = gf_may_df[['County', 'StateTerritory', 'Country', 'Date', 'EstimateLow', 'EstimateHigh']]

In [29]:
def missing_entries(x):
    if np.isnan(x):
        return 0
    else:
        return x

In [6]:
# check crowd estimates with missing entries
tally_may_df['EstimateLow'] = tally_may_df['EstimateLow'].apply(lambda x: 0 if np.isnan(x) else x)
tally_may_df['EstimateHigh'] = tally_may_df['EstimateHigh'].apply(lambda x: 0 if np.isnan(x) else x)

gf_may_df['EstimateLow'] = gf_may_df['EstimateLow'].apply(missing_entries)
gf_may_df['EstimateHigh'] = gf_may_df['EstimateHigh'].apply(missing_entries)

In [35]:
tally_may_df

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh,Estimate_Crowd
0,Albany,NY,US,2020-05-01,100.0,100.0,100
1,Los Angeles,CA,US,2020-05-01,0.0,0.0,0
2,Orange,CA,US,2020-05-01,0.0,0.0,0
3,Orange,CA,US,2020-05-01,0.0,0.0,0
4,Washtenaw,MI,US,2020-05-01,0.0,0.0,0
...,...,...,...,...,...,...,...
680,New London,CT,US,2020-05-30,200.0,200.0,200
681,Yavapai,AZ,US,2020-05-30,0.0,0.0,0
682,Santa Barbara,CA,US,2020-05-30,0.0,0.0,0
683,Bexar,TX,US,2020-05-30,40.0,40.0,40
684,Forrest,MS,US,2020-05-31,30.0,30.0,30

In [ ]:
def processDF(df, ref):
    # function to clean and process the protest data frame for modeling

    def findCrowd(x, y):
        if x != 0 and y != 0:
            return np.int((x+y)/2)
        else:
            return np.int(x+y)
    
    
    # missing entries
    df['EstimateLow'] = df['EstimateLow'].apply(lambda x: 0 if np.isnan(x) else x)
    df['EstimateHigh'] = df['EstimateHigh'].apply(lambda x: 0 if np.isnan(x) else x)

    # eatimated crowd for each event
    df['Estimate_Crowd'] = df.apply(lambda x: findCrowd(x['EstimateLow'], x['EstimateHigh']), axis=1)
    
    # per county per date total number of events and crowd estimate
    tally_may_df.groupby(['Date', 'StateTerritory', 'County'], as_index=False)[['Estimate_Crowd', 'Country']].agg({ 
                                                                                    'Estimate_Crowd':'sum',
                                                                                    'Country':'count'})
    
    # merge with reference data frame to find county FIPS
    
    
    
    return df

In [21]:
def findCrowd(x, y):
    if x != 0 and y != 0:
        return np.int((x+y)/2)
    else:
        return np.int(x+y)

In [22]:
tally_may_df['Estimate_Crowd'] = tally_may_df.apply(lambda x: findCrowd(x['EstimateLow'], x['EstimateHigh']), axis=1)

In [23]:
tally_may_df

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh,Estimate_Crowd
0,Albany,NY,US,2020-05-01,100.0,100.0,100
1,Los Angeles,CA,US,2020-05-01,0.0,0.0,0
2,Orange,CA,US,2020-05-01,0.0,0.0,0
3,Orange,CA,US,2020-05-01,0.0,0.0,0
4,Washtenaw,MI,US,2020-05-01,0.0,0.0,0
...,...,...,...,...,...,...,...
680,New London,CT,US,2020-05-30,200.0,200.0,200
681,Yavapai,AZ,US,2020-05-30,0.0,0.0,0
682,Santa Barbara,CA,US,2020-05-30,0.0,0.0,0
683,Bexar,TX,US,2020-05-30,40.0,40.0,40
684,Forrest,MS,US,2020-05-31,30.0,30.0,30

In [27]:
tally_may_df.groupby(['Date', 'StateTerritory', 'County'], as_index=False)[['Estimate_Crowd', 'Country']].agg({ 
                                                                            'Estimate_Crowd':'sum',
                                                                            'Country':'count'})

           Date StateTerritory      County  Estimate_Crowd  Country
0    2020-05-01             AR     Pulaski               3        1
1    2020-05-01             AZ        Pima              24        3
2    2020-05-01             AZ       Pinal             200        1
3    2020-05-01             CA     Alameda               0        8
4    2020-05-01             CA       Butte               0        1
..          ...            ...         ...             ...      ...
534  2020-05-30             RI  Providence              50        1
535  2020-05-30             TX       Bexar              40        1
536  2020-05-30             UT       Davis               0        1
537  2020-05-30             UT      Tooele            2000        1
538  2020-05-31             MS     Forrest              30        1

[539 rows x 5 columns]

In [108]:
tally_may_df[tally_may_df['County']=='Alameda']

,County,StateTerritory,Country,Date,EstimateLow,EstimateHigh,Estimate_Crowd
14,Alameda,CA,US,2020-05-01,0.0,0.0,0
24,Alameda,CA,US,2020-05-01,0.0,0.0,0
58,Alameda,CA,US,2020-05-01,0.0,0.0,0
67,Alameda,CA,US,2020-05-01,0.0,0.0,0
128,Alameda,CA,US,2020-05-01,0.0,0.0,0
129,Alameda,CA,US,2020-05-01,0.0,0.0,0
130,Alameda,CA,US,2020-05-01,0.0,0.0,0
131,Alameda,CA,US,2020-05-01,0.0,0.0,0
387,Alameda,CA,US,2020-05-11,28.0,28.0,28
467,Alameda,CA,US,2020-05-16,5.0,5.0,5
473,Alameda,CA,US,2020-05-16,24.0,24.0,24

In [131]:
# load

# get useful columns, need exceptions? 

# merge Tally and GF protests, by vertical stacking maybe
'''download'''
'''load'''
# find Estimate_Crowd, Num_Protests

# create data frame for all counties with all dates, merge with protest by county FIPS

# a time-series like data frame of all counties, all dates, whether there are protests and crowd estimates
'''load'''

In [16]:
ref = pd.read_csv('county_data_abridged.csv', usecols=['countyFIPS', 'CountyName', 'StateName'])

In [28]:
ref.head()

  countyFIPS CountyName StateName
0      01001    Autauga        AL
1      01003    Baldwin        AL
2      01005    Barbour        AL
3      01007       Bibb        AL
4      01009     Blount        AL